body{
    background-color:#dbd9c2;
    font-size: 20px;
    font-family: Geneva, Tahoma, sans-serif;
}

h1, h3{
    font-family: Unbounded, sans-serif;
    color: rgb(32, 81, 138);
    font-weight: 00;
}
/*
h3{
    font-weight: 700;
}
*/

h1, img{
    text-align: center;
    margin: auto;
    width: 512px;
    height: auto;
    border-radius: 25px;
    
}

.center{
    text-align: center;
}